.about-section {
    background: #feada6;
    background: -webkit-linear-gradient(to right, rgba(254,173,166,0.5), rgba(245,239,239,0.5));
    background: linear-gradient(to right, rgba(254,173,166,0.5), rgba(245,239,239,0.5));
    padding: 50px;
    border-radius: 10px;
    margin: 30px auto;
    max-width: 1000px;
}
.about-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}
.btn-primary {
    background-color: #e8af17;
    border: none;
}
.btn-primary:hover {
    background-color: #c98b11;
}

